/* Imagen de fondo */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://cdn.shopify.com/s/files/1/0840/8347/4747/files/Telas-alqueria.jpg?v=1699563535');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco translúcido */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 100px;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin: 10px 0 5px 0;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.opciones {
    text-align: left;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.links {
    margin-top: 20px;
}

.links a {
    display: block;
    margin: 5px 0;
    color: #007BFF;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}
